<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Security Prediction using Machine Learning</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="predict.html">Predict</a></li>
                <li><div class="dropdown">
                    <button class="dropbtn">Contact</button>
                    <div class="dropdown-content">
                      <a href="https://github.com/kirpalsingh225?tab=repositories" target="_blank">GitHub</a>
                      <a href="https://www.linkedin.com/in/kirpal-singh22/" target="_blank">LinkedIN</a>
                      <a href="https://leetcode.com/kirpal_singh/" target="_blank">LeetCode</a>
                    </div>
                  </div>
                </li>
          </ul> 
        </nav>
    </header>
    <main>
      
    </main>
</body>
</html>